@import "tailwindcss";

@theme {
  --color-primary: #ff0000;
  --color-secondary: #b5007f;
  --color-gray-avianca: #414141;
}

.btn-principal {
  @apply bg-gradient-to-r from-primary to-secondary rounded-full px-10 py-0.5 text-white font-bold text-lg;
}

.alert {
  @apply border-3 border-primary rounded-2xl text-center;
}

.alert .alert-header {
  @apply border-b-3 border-primary px-5 py-2 text-primary font-bold text-3xl;
}

.alert .alert-body {
  @apply p-3 font-semibold text-lg text-[#414141];
}

.awards,
.instructions {
  @apply flex flex-col text-xs text-[#414141] gap-8 p-5;
}

.awards-list,
.instructions-list {
  @apply flex flex-col gap-5;
}

.awards-item,
.instructions-item {
  @apply flex gap-2.5;
}

.awards-item div {
  @apply flex justify-center items-center;

}

.awards-item img {
  @apply max-w-5 max-h-5;

}


.view {
  @apply flex min-h-screen flex-col p-5
}

.home-view {
  background-image: url("./assets/mobile/BackgroundHome.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.form-view,
.rules-view,
.questions-view,
.end-view {
  background-image: url("./assets/mobile/BackgroundForm.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.form-container {
  @apply border-2 border-secondary rounded-2xl w-full
}

.form-container input[type="text"], input[type="tel"], input[type="email"] {
  @apply w-full text-center rounded-full border p-1
}

.question {
  @apply w-full border-2 border-secondary rounded-full px-10 py-1 my-5
}

.option {
  @apply flex items-center border-2 border-secondary w-full p-1 rounded-full 
}




@media (min-width: 768px) {
  .home-view {
    background-image: url("./assets/desktop/BackgroundHome.webp");
  }

  .form-view,
  .questions-view {
    background-image: url("./assets/desktop/BackgroundForm.jpg");
  }

  .end-view,
  .rules-view {
    background-image: url("./assets/desktop/BackgroundRules.png");
  }


  .btn-principal {
    @apply text-xl pb-2;
  }

  .form-container {
    @apply max-w-6/8
  }

  .awards,
  .instructions {
    @apply text-lg font-semibold;
  }

}